* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}
body {
  background-color: #afc;
}

img {
  border: 5px inset #ccc;
  border-radius: 10px;
  width: 50%;
  height: 50%;
}

#para {
  background-image: url("Svgs/icono_pausa.svg");
}

#sigue {
  background-image: url("Svgs/icono_reproducir.svg");
}

.activo {
  background-image: linear-gradient(#fff892, #ffc671, #fff892);
  padding: 6px;
  border-radius: 10px;
  border: #eea ridge 5px;
}

.inactivo {
  background-color: #ddd;
  padding: 6px;
  border-radius: 10px;
  border: #4e4e4c groove 5px;
}

.info {
  background-image: radial-gradient(#add, #afd);
  padding: 3px;
  border-radius: 5px;
}

button {
  padding: 15px;
  font-weight: bold;
  background-color: #ebd9a0;
  border-radius: 5px;
  border: #fc0 outset 4px;
}

button:hover {
  padding: 15px;
  font-weight: bold;
  background-color: #f7edcf;
  border-radius: 5px;
  border: #ffe26d outset 4px;
}
